@charset 'utf-8';

// Round borders
@mixin rounded {border-radius: 5px;}

// Color of foculed elements
$focus_emphasis : skyblue;
$odd_rows: rgba(200,200,200,0.3);
// Elements with keyboard focus
@mixin focused {outline:0; box-shadow: 0 0 12px $focus_emphasis; @include rounded; }

// Indicates the actual location
@mixin current {background-color: lighten($focus_emphasis, 20%); @include rounded; color: darkblue;}

@import "reset";
@import "plugins";
@import "flexbox";
@import "flash";

.visually_hidden {visibility: hidden; position: absolute; top: -9999px; left: -9999px;}
[disabled="disabled"] {background-color: #eee; color: #555}
.readonly, [readonly="readonly"] {background-color: #eee!important; color: #555!important}


.number, .money {text-align: right; white-space: nowrap;}
.money:before {content: '$ '}

.small_content {text-align: center;}
.categories td {padding: 0.5em; vertical-align: top}
.cat_cell {width:300px; height: 120px; }
.cat_img {position: absolute;clip: rect(0, 300px, 120px, 0) }
.categories tr:hover .cat_img {position: absolute;clip: rect(120px, 300px, 240px, 0); margin-top: -120px }
.action, .smallcaps {font-variant: small-caps}

article, section {margin-left: 1em;}

.aligner {display:inline-block; width: 6em}
.aligned {display:inline-block; margin-left: 6em}

.aligner_2 {display:inline-block; width: 10em}
.aligned_2 {display:inline-block; margin-left: 10em}
a.edit {display:block; width:32px; height:32px; background: url(/media/Icon-Edit.png); margin: 4px auto;}

.sm_cell {width:  4em}
th.sm_cell {white-space: nowrap;}
.smm_cell {width:  6em}
.md_cell {width:  8em}
.bg_cell {width:  16em}


body {margin-left:auto; margin-right:auto}
body:after {
    content : "";
    z-index: -1;
    background: url(/media/colors.png) no-repeat center center fixed;
    background-size: cover;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height:100%;
    opacity : 0.1;
}

.product_features {max-width: 25em}

.items {margin-top: 1em; border: 1px solid $odd_rows; @include rounded;}
.items th, .items thead td {font-weight: bold}
.items thead {background-color: white; border: 1px solid $odd_rows}
.items td {padding:0.3em 1em 0.1em 0; vertical-align: middle}
.items tr td:first-child, .items th:first-child{padding-left: 1em}
.items tr td:first-child.no_padding {padding-left: 0}
.item td {vertical-align:top}
.ajax_item:hover {cursor: pointer}
.tall {border-top: 1px solid silver}
tbody tr:nth-child(odd) {background: $odd_rows}
.overpriced {color: rgb(200, 166, 30); font-weight: bold}
.understocked, .underpriced {color: rgb(255, 100, 100); font-weight: bold}
.overstocked { color: rgb(200, 166, 30); font-weight: bold}

a {color: darkblue;}
:focus {@include focused}
a:hover, a:focus, .items th:hover, .item:hover, .item_hover, .ajax_item:hover {background-color: $focus_emphasis; @include focused } // el resto de los elementos interactivos

.main_nav {margin:0.5em 0.5em 0.5em 0;
  dt {display:none}
  dd, dd a {display:inline-block}
  dd a {padding:1em 0.5em 1.2em; margin-right: 0.5em;}
  .main_nav .first {padding-left: 0.7em}
}
.current {@include current}
nav li {padding-left:2em}
.subsection {font-weight: bold}

aside {
  float:right;
  padding: 1em;
  margin: 1em;
  position: relative;
}

.bullet {list-style: disc outside none}
.bullet li {margin-left: 1em}

.floating_header {
  position: fixed;
  top: 0;
}
.normal_header {
  position: relative;
}


.ajax_hide_on_click {transition: opacity 1s;}
.hide { opacity: 0; }


.toggle_link {cursor: help; color: darkblue; display:inline-block}
.toggle_link:hover {cursor: help; background-color: $focus_emphasis; @include focused}
.info.toggle_me {
    border:1px solid DarkKhaki;
    box-shadow: 3px 3px 10px DarkKhaki;
}
.debug.toggle_me {
    border:1px solid crimson;
    box-shadow: 3px 3px 10px crimson;
}

.confirm_action {border: 1px solid black; margin:1em; padding:0 1em 2em 1em}

.no_padding {padding: 0;}

.v_island_1 {margin-top: 2em; margin-bottom: 2em}

.level1 {padding-left: 2em;}
.level2 {padding-left: 4em;}
.level3 {padding-left: 6em;}
.level4 {padding-left: 8em;}
.level5 {padding-left: 10em;}
.level6 {padding-left: 12em;}
.level7 {padding-left: 14em;}
.level8 {padding-left: 16em;}
.level9 {padding-left: 18em;}
.level10 {padding-left: 20em;}
