
.flash {
  padding: 1em ;
  font-weight: bold;
  margin: 0 1em 1em 0;
  max-width: 35em;
}
.flash_notice {
  background-color: lighten(LightGreen, 5%);
  color: DarkGreen;
  border: 3px solid DarkGreen;
  animation: slow_hide 5s forwards 3s ease
}
.flash_warning {
  background-color: LightYellow;
  color: darken(DarkKhaki, 15%);
  border: 3px solid darken(DarkKhaki, 15%);
  animation: slow_hide 9s forwards 3s ease
}
.flash_error {
  background-color: lighten( pink, 5% );
  color: darken(crimson, 10%);
  border: 3px solid darken(crimson, 10%);
}
.flash dd {
    padding-left:1em;
    font-weight: normal;
}
.flash dd:before{
    content: "⚫ "
}

@keyframes slow_hide
{
  from {
    opacity:1;
  }
  to {
    opacity:0;
  }
}