-# coding: UTF-8
- @title = "Items pendientes de verificacion"

- @items = @pending_items
== slim :items_list, locals: {can_edit: false}

h1 Items con problemas
- @items = @void_items
== slim :items_list, locals: {can_edit: false}
