- @body_id = :fot
- @page_id = :fotos
- @title = "Fotos de nuestros productos en acción"
- @meta_description = "Fotos de efectos especiales, mascaras"

p ¿Tenes alguna foto en la que haya algun trabajo de maquillaje interesante que te gustaria ver acá?
No dudes en enviarnosla.

