@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body, div, span, iframe,
p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  vertical-align: baseline;
  font-family: Helvetica, verdana, Frutiger, Univers, arial, helvetica, "lucida grande", geneva, lucida, sans-serif;
  font-size: 1em; }

body {
  line-height: 1.6em;
  color: #333;
  background: #FFF; }

ol, ul {
  list-style: none; }

table {
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

/* Base */
strong {
  font-weight: bold; }

h1 {
  font-size: 18px;
  font-weight: bold;
  padding: 1.5em 0 0.8em 0;
  color: SaddleBrown; }

h2 {
  font-size: 16px;
  font-weight: bold;
  padding: 1.3em 0 0.5em 0;
  color: SaddleBrown; }

h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  color: #ddae20; }

.unauthorized {
  margin: 150px 0 0;
  padding-bottom: 50px; }

.not_found {
  width: 100%;
  height: 100%;
  background: #000; }

.not_found img {
  width: 450px;
  height: 450px;
  display: block;
  margin-left: auto; }

/* Tablesorter */
table.tablesorter thead tr .header {
  background-image: url(/media/tablesortBg.gif);
  background-repeat: no-repeat;
  background-position: right;
  cursor: pointer;
  padding-right: 1em; }

table.tablesorter thead tr .headerSortUp {
  background-image: url(/media/tablesortAsc.gif); }

table.tablesorter thead tr .headerSortDown {
  background-image: url(/media/tablesortDesc.gif); }

table.tablesorter thead tr th, table.tablesorter tfoot tr th {
  padding: 0.5em 0.1em; }

table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
  background-color: #def2fa;
  border-radius: 5px;
  color: darkblue; }

table.tablesorter th {
  color: black; }

/* Tablesorter */
/* Gridforms */
.grid-form *, .grid-form *:before, .grid-form *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.grid-form input[type="text"], .grid-form input[type="email"], .grid-form textarea, .grid-form select {
  font-size: 18px;
  padding: 0;
  margin: 0;
  width: 100%; }

.grid-form input[type="text"], .grid-form input[type="email"], .grid-form textarea {
  border: 0;
  background: transparent; }

.grid-form input[type="text"]::-webkit-input-placeholder, .grid-form input[type="email"]::-webkit-input-placeholder, .grid-form textarea::-webkit-input-placeholder {
  font-weight: 100;
  color: #595959; }

.grid-form input[type="text"]:-moz-placeholder, .grid-form input[type="email"]:-moz-placeholder, .grid-form textarea:-moz-placeholder {
  font-weight: 100;
  color: #595959; }

.grid-form input[type="text"]:focus, .grid-form input[type="email"]:focus, .grid-form textarea:focus {
  outline: none; }

.grid-form fieldset {
  border: none;
  padding: 0;
  margin: 0;
  margin-bottom: 2em; }

.grid-form fieldset legend {
  border: none;
  border-bottom: 4px solid #404040;
  color: #404040;
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 5px;
  position: static;
  width: 100%; }

.grid-form fieldset fieldset legend {
  border-bottom: 2px solid #404040;
  font-weight: normal; }

.grid-form fieldset fieldset fieldset legend {
  border-bottom: 1px solid #404040;
  font-weight: normal;
  font-size: 15px; }

.grid-form [data-row-span] {
  border-bottom: 1px solid #333333;
  width: 100%;
  zoom: 1; }

.grid-form [data-row-span]:before, .grid-form [data-row-span]:after {
  content: "";
  display: table; }

.grid-form [data-row-span]:after {
  clear: both; }

@media only screen and (min-width: 0) and (max-width: 700px) {
  .grid-form [data-row-span] {
    border-bottom: none; } }
.grid-form [data-row-span] [data-field-span] {
  padding: 8px;
  float: left; }

@media only screen and (min-width: 0) and (max-width: 700px) {
  .grid-form [data-row-span] [data-field-span] {
    border-bottom: 1px solid #333333;
    width: 100% !important; } }
@media only screen and (min-width: 700px) {
  .grid-form [data-row-span] [data-field-span] {
    border-right: 1px solid #333333;
    display: block; } }
.grid-form [data-row-span] [data-field-span] label:first-child {
  margin-top: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 10px;
  color: #333333;
  display: block;
  margin-bottom: 4px; }

.grid-form [data-row-span] [data-field-span] label:first-child:hover {
  cursor: text; }

.grid-form [data-row-span] [data-field-span]:last-child {
  border-right: none; }

.grid-form [data-row-span] [data-field-span].focus {
  background: #fffad4; }

.grid-form [data-row-span] [data-field-span].focus label {
  color: #262626; }

.grid-form [data-row-span] [data-field-span]:hover {
  background: #fffded;
  cursor: text; }

.grid-form [data-row-span="1"] > [data-field-span="1"] {
  width: 100%; }

.grid-form [data-row-span="2"] > [data-field-span="1"] {
  width: 50%; }

.grid-form [data-row-span="2"] > [data-field-span="2"] {
  width: 100%; }

.grid-form [data-row-span="3"] > [data-field-span="1"] {
  width: 33.33333%; }

.grid-form [data-row-span="3"] > [data-field-span="2"] {
  width: 66.66667%; }

.grid-form [data-row-span="3"] > [data-field-span="3"] {
  width: 100%; }

.grid-form [data-row-span="4"] > [data-field-span="1"] {
  width: 25%; }

.grid-form [data-row-span="4"] > [data-field-span="2"] {
  width: 50%; }

.grid-form [data-row-span="4"] > [data-field-span="3"] {
  width: 75%; }

.grid-form [data-row-span="4"] > [data-field-span="4"] {
  width: 100%; }

.grid-form [data-row-span="5"] > [data-field-span="1"] {
  width: 20%; }

.grid-form [data-row-span="5"] > [data-field-span="2"] {
  width: 40%; }

.grid-form [data-row-span="5"] > [data-field-span="3"] {
  width: 60%; }

.grid-form [data-row-span="5"] > [data-field-span="4"] {
  width: 80%; }

.grid-form [data-row-span="5"] > [data-field-span="5"] {
  width: 100%; }

.grid-form [data-row-span="6"] > [data-field-span="1"] {
  width: 16.66667%; }

.grid-form [data-row-span="6"] > [data-field-span="2"] {
  width: 33.33333%; }

.grid-form [data-row-span="6"] > [data-field-span="3"] {
  width: 50%; }

.grid-form [data-row-span="6"] > [data-field-span="4"] {
  width: 66.66667%; }

.grid-form [data-row-span="6"] > [data-field-span="5"] {
  width: 83.33333%; }

.grid-form [data-row-span="6"] > [data-field-span="6"] {
  width: 100%; }

.grid-form [data-row-span="7"] > [data-field-span="1"] {
  width: 14.28571%; }

.grid-form [data-row-span="7"] > [data-field-span="2"] {
  width: 28.57143%; }

.grid-form [data-row-span="7"] > [data-field-span="3"] {
  width: 42.85714%; }

.grid-form [data-row-span="7"] > [data-field-span="4"] {
  width: 57.14286%; }

.grid-form [data-row-span="7"] > [data-field-span="5"] {
  width: 71.42857%; }

.grid-form [data-row-span="7"] > [data-field-span="6"] {
  width: 85.71429%; }

.grid-form [data-row-span="7"] > [data-field-span="7"] {
  width: 100%; }

.grid-form [data-row-span="8"] > [data-field-span="1"] {
  width: 12.5%; }

.grid-form [data-row-span="8"] > [data-field-span="2"] {
  width: 25%; }

.grid-form [data-row-span="8"] > [data-field-span="3"] {
  width: 37.5%; }

.grid-form [data-row-span="8"] > [data-field-span="4"] {
  width: 50%; }

.grid-form [data-row-span="8"] > [data-field-span="5"] {
  width: 62.5%; }

.grid-form [data-row-span="8"] > [data-field-span="6"] {
  width: 75%; }

.grid-form [data-row-span="8"] > [data-field-span="7"] {
  width: 87.5%; }

.grid-form [data-row-span="8"] > [data-field-span="8"] {
  width: 100%; }

.grid-form [data-row-span="9"] > [data-field-span="1"] {
  width: 11.11111%; }

.grid-form [data-row-span="9"] > [data-field-span="2"] {
  width: 22.22222%; }

.grid-form [data-row-span="9"] > [data-field-span="3"] {
  width: 33.33333%; }

.grid-form [data-row-span="9"] > [data-field-span="4"] {
  width: 44.44444%; }

.grid-form [data-row-span="9"] > [data-field-span="5"] {
  width: 55.55556%; }

.grid-form [data-row-span="9"] > [data-field-span="6"] {
  width: 66.66667%; }

.grid-form [data-row-span="9"] > [data-field-span="7"] {
  width: 77.77778%; }

.grid-form [data-row-span="9"] > [data-field-span="8"] {
  width: 88.88889%; }

.grid-form [data-row-span="9"] > [data-field-span="9"] {
  width: 100%; }

.grid-form [data-row-span="10"] > [data-field-span="1"] {
  width: 10%; }

.grid-form [data-row-span="10"] > [data-field-span="2"] {
  width: 20%; }

.grid-form [data-row-span="10"] > [data-field-span="3"] {
  width: 30%; }

.grid-form [data-row-span="10"] > [data-field-span="4"] {
  width: 40%; }

.grid-form [data-row-span="10"] > [data-field-span="5"] {
  width: 50%; }

.grid-form [data-row-span="10"] > [data-field-span="6"] {
  width: 60%; }

.grid-form [data-row-span="10"] > [data-field-span="7"] {
  width: 70%; }

.grid-form [data-row-span="10"] > [data-field-span="8"] {
  width: 80%; }

.grid-form [data-row-span="10"] > [data-field-span="9"] {
  width: 90%; }

.grid-form [data-row-span="10"] > [data-field-span="10"] {
  width: 100%; }

.grid-form [data-row-span="11"] > [data-field-span="1"] {
  width: 9.09091%; }

.grid-form [data-row-span="11"] > [data-field-span="2"] {
  width: 18.18182%; }

.grid-form [data-row-span="11"] > [data-field-span="3"] {
  width: 27.27273%; }

.grid-form [data-row-span="11"] > [data-field-span="4"] {
  width: 36.36364%; }

.grid-form [data-row-span="11"] > [data-field-span="5"] {
  width: 45.45455%; }

.grid-form [data-row-span="11"] > [data-field-span="6"] {
  width: 54.54545%; }

.grid-form [data-row-span="11"] > [data-field-span="7"] {
  width: 63.63636%; }

.grid-form [data-row-span="11"] > [data-field-span="8"] {
  width: 72.72727%; }

.grid-form [data-row-span="11"] > [data-field-span="9"] {
  width: 81.81818%; }

.grid-form [data-row-span="11"] > [data-field-span="10"] {
  width: 90.90909%; }

.grid-form [data-row-span="11"] > [data-field-span="11"] {
  width: 100.0%; }

.grid-form [data-row-span="12"] > [data-field-span="1"] {
  width: 8.33333%; }

.grid-form [data-row-span="12"] > [data-field-span="2"] {
  width: 16.66667%; }

.grid-form [data-row-span="12"] > [data-field-span="3"] {
  width: 25%; }

.grid-form [data-row-span="12"] > [data-field-span="4"] {
  width: 33.33333%; }

.grid-form [data-row-span="12"] > [data-field-span="5"] {
  width: 41.66667%; }

.grid-form [data-row-span="12"] > [data-field-span="6"] {
  width: 50%; }

.grid-form [data-row-span="12"] > [data-field-span="7"] {
  width: 58.33333%; }

.grid-form [data-row-span="12"] > [data-field-span="8"] {
  width: 66.66667%; }

.grid-form [data-row-span="12"] > [data-field-span="9"] {
  width: 75%; }

.grid-form [data-row-span="12"] > [data-field-span="10"] {
  width: 83.33333%; }

.grid-form [data-row-span="12"] > [data-field-span="11"] {
  width: 91.66667%; }

.grid-form [data-row-span="12"] > [data-field-span="12"] {
  width: 100%; }

@media only screen and (min-width: 65em) {
  /* la carga necesita este minimo par air a tres cols */
  .flex_container {
    /* 2009 */
    display: -webkit-box;
    display: -moz-box;
    /* 2011 */
    display: -ms-flexbox;
    /* 2012 */
    display: -webkit-flex;
    display: flex; }

  .flex_item {
    -ms-flex-item-align: stretch;
    -webkit-align-self: stretch;
    align-self: stretch; }

  .flex_order_last {
    /* Flex items are, by default, displayed and laid out in the same order as they appear in the source document.
    The ‘order’ property can be used to change this ordering.
    Alters ONLY the visual order, not the logical one */
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    /* 2012. Order: <integer> (default=0, accepts -1) */
    /* http://www.w3.org/TR/css3-flexbox/#order-property */
    -webkit-order: 1;
    order: 1; } }
.visually_hidden {
  visibility: hidden;
  position: absolute;
  top: -9999px;
  left: -9999px; }

[disabled="disabled"] {
  background-color: #eee;
  color: #555; }

.readonly, [readonly="readonly"] {
  background-color: #eeeeee !important;
  color: #555555 !important; }

.number, .money {
  text-align: right;
  white-space: nowrap; }

.money:before {
  content: '$ '; }

.small_content {
  text-align: center; }

.categories td {
  padding: 0.5em;
  vertical-align: top; }

.cat_cell {
  width: 300px;
  height: 120px; }

.cat_img {
  position: absolute;
  clip: rect(0, 300px, 120px, 0); }

.categories tr:hover .cat_img {
  position: absolute;
  clip: rect(120px, 300px, 240px, 0);
  margin-top: -120px; }

.action, .smallcaps {
  font-variant: small-caps; }

article, section {
  margin-left: 1em; }

.aligner {
  display: inline-block;
  width: 6em; }

.aligned {
  display: inline-block;
  margin-left: 6em; }

.aligner_2 {
  display: inline-block;
  width: 10em; }

.aligned_2 {
  display: inline-block;
  margin-left: 10em; }

.edit {
  display: inline-block;
  width: 32px;
  height: 32px;
  background: url(/media/Icon-Edit.png); }

.sm_cell {
  width: 4em; }

.md_cell {
  width: 8em; }

.bg_cell {
  width: 16em; }

body {
  margin-left: auto;
  margin-right: auto; }

body:after {
  content: "";
  z-index: -1;
  background: url(/media/colors.png) no-repeat center center fixed;
  background-size: cover;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0.1; }

.product_features {
  max-width: 25em; }

.items {
  margin-top: 1em;
  border: 1px solid rgba(200, 200, 200, 0.3);
  border-radius: 5px; }

.items th, .items thead td {
  font-weight: bold; }

.items td {
  padding: 0.3em 1em 0.1em 0;
  vertical-align: middle; }

.items tr td:first-child, .items th:first-child {
  padding-left: 1em; }

.items tr td:first-child.no_padding {
  padding-left: 0; }

.item td {
  vertical-align: top; }

.ajax_item:hover {
  cursor: pointer; }

.tall {
  border-top: 1px solid silver; }

tbody tr:nth-child(odd) {
  background: rgba(200, 200, 200, 0.3); }

a {
  color: darkblue; }

:focus {
  outline: 0;
  box-shadow: 0 0 12px skyblue;
  border-radius: 5px; }

a:hover, a:focus, .items th:hover, .item:hover, .item_hover, .ajax_item:hover {
  background-color: skyblue;
  outline: 0;
  box-shadow: 0 0 12px skyblue;
  border-radius: 5px; }

.main_nav {
  margin: 0.5em 0.5em 0.5em 0; }
  .main_nav dt {
    display: none; }
  .main_nav dd, .main_nav dd a {
    display: inline-block; }
  .main_nav dd a {
    padding: 1em 0.5em 1.2em;
    margin-right: 0.5em; }
  .main_nav .main_nav .first {
    padding-left: 0.7em; }

.current {
  background-color: #def2fa;
  border-radius: 5px;
  color: darkblue; }

nav li {
  padding-left: 1em; }

aside {
  float: right;
  padding: 1em;
  margin: 1em;
  position: relative; }

.flash {
  padding: 1em;
  font-weight: bold;
  margin: 0 1em 1em 0;
  max-width: 35em; }

.flash_notice {
  background-color: #a6f1a6;
  color: DarkGreen;
  border: 3px solid DarkGreen;
  animation: slow_hide 3s forwards 1s ease; }

.flash_warning {
  background-color: LightYellow;
  color: #989244;
  border: 3px solid #989244;
  animation: slow_hide 9s forwards 1s ease; }

.flash_error {
  background-color: #ffdae0;
  color: #ad102f;
  border: 3px solid #ad102f; }

.flash dd {
  padding-left: 1em;
  font-weight: normal; }

.flash dd:before {
  content: "⚫ "; }

@keyframes slow_hide {
  from {
    opacity: 1; }

  to {
    opacity: 0; } }

.toggle_link {
  cursor: help;
  color: darkblue;
  display: inline-block; }

.toggle_link:hover {
  cursor: help;
  background-color: skyblue;
  outline: 0;
  box-shadow: 0 0 12px skyblue;
  border-radius: 5px; }

.info.toggle_me {
  border: 1px solid DarkKhaki;
  box-shadow: 3px 3px 10px DarkKhaki; }

.debug.toggle_me {
  border: 1px solid crimson;
  box-shadow: 3px 3px 10px crimson; }

.confirm_action {
  border: 1px solid black;
  margin: 1em;
  padding: 0 1em 2em 1em; }

.no_padding {
  padding: 0; }

.v_island_1 {
  margin-top: 2em;
  margin-bottom: 2em; }
