* {font-size: 11pt ! important}
h1 {text-align: left; font-size: 2em !important; margin:-1.065em 0 0.0 0; color: #888;}
.header {position: fixed; top: 0; right: 0; z-index: -1; height:10em}
ul li{
  padding: 0 0 0.5em 1em;
  text-indent: -1.2em;
}
/*ul li:last-child {padding-bottom: 0}*/
li {max-width: 55%}
li:before { content: "⚫ " }

body:after {display:none}
