html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-family: inherit;
	vertical-align: baseline;
	font-family: Helvetica, verdana, Frutiger, Univers, arial, helvetica, "lucida grande", geneva, lucida, sans-serif;
	font-size:1em;
}
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: #333;
	background: #FFF;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}


body {max-width:70em; margin-left:auto; margin-right:auto}
h1{font-size:18px; font-weight:bold; padding:1.5em 0 0.8em 0; color: SaddleBrown}
h2{font-size:16px; font-weight:bold; padding:1.3em 0 0.5em 0; color: SandyBrown}
h3{font-size:16px; font-weight:bold; color: #ddae20}

strong {font-weight:bold}

/*
.center{margin-left:auto; margin-right:auto}
p{line-height:1.6em}
#contenido {position:absolute;top:0;width:728px;margin:0 auto 20px auto; padding:20px; border:3px solid black; background:#edefef;}
#footer {border:1px dotted #333; padding:20px; background:white}




#topmenu {margin:-23px; width:768px; position:fixed; background:#edefef; border-top:3px solid black; border-left:3px solid black; border-right:3px solid black;}
#topmenu * {padding:0;margin:0; text-decoration:none; font-size:17px; font-weight:bold; color:black;}
#topmenu dl {margin-left:45px}

#topmenu dt {display:none; }
#topmenu dd {width:140px; height:150px; float:left}
#topmenu dd.lnk a {width:140px; display:block; position:absolute; padding:60px 0 70px 0}
#topmenu dd.lnk a:hover, #topmenu dd.lnk a:active, #topmenu a.active {color: #ddae20}
body[id=prod] #topmenu, body[id=fot] #topmenu {border-bottom:1px dotted #333}

#prodCat {margin-top:150px; background: #edefef url(/media/prodCat.jpg) center 150px; background-attachment:fixed; background-repeat:no-repeat}
.prodCat {height:118px; margin-bottom:20px;border:1px solid transparent; }
.prodCat .col1 {width:300px}
.prodCat .col2 {float:right; width:400px}
.prodCat .prodDesc {overflow:hidden; height:120px}
.prodCat .prodDesc a {color:#333; text-decoration:none}
.prodCat .prodDesc:hover a {text-decoration:underline}
.prodCat .prodDesc a:first-letter {padding-left:0.5em;}

.prodCat .prodDesc h1 {padding-bottom:0; padding-top:0}
.prodCat:hover { border:1px dotted #333}
.prodCat:hover h1{color:black}
.cat1 {margin-top:30px}

.prodImg a {display:block; width:300px; height:120px;}
.prodImg a span {display:none}
div.prodBigImg {float:right}
.prodList .prodDesc {min-height:200px; clear:both; padding:20px}
p.prodInfo:first-letter {padding:0;}

*/

#unauthorized {margin:150px 0 0; padding-bottom:50px;}
#contacto {margin:150px 0 0; padding-bottom:50px; background: #edefef url(/media/contacto.jpg) center 150px; background-attachment:fixed; background-repeat:no-repeat}
#contacto li {margin-left:23px; list-style: circle; line-height:150%}
#not_found {width:100%;height:100%;background:#000}
#not_found img {width:450px;height:450px;display:block;margin-left:auto}

#fotos, #index, #not_found {margin:150px 0 20px; }
#fotos img {width:450px; height:450px}
#fotos a small {font-size:12px}
.photoList td {vertical-align:top; padding-bottom:50px;}
.photoList td img {padding-right:15px}

.extraImg {clear:both; text-align:right}

.items {padding-top: 1em;}
.items thead th {font-weight: bold}
.items td {padding:0.3em 1em 0.1em 0; vertical-align: middle}
.categories td {padding: 0.5em; vertical-align: top}
.item:hover, .item_hover {background:skyblue}

.number, .money {text-align: right;}
.money:before {content: '$ '}

.small_content {text-align: center;}
.cat_cell {width:300px; height: 120px; }
.cat_img {position: absolute;clip: rect(0, 300px, 120px, 0) }
.categories tr:hover .cat_img {position: absolute;clip: rect(120px, 300px, 240px, 0); margin-top: -120px }

nav {margin:0.5em 0.5em 0.5em 0;}
nav dt {display:none}
nav dd, nav dd a {display:inline-block}
nav dd a {padding:1em 0.5em 1.2em; margin-right: 0.5em;}
nav dd a.first {padding-left: 0.7em}
.current {background-color: skyblue; border-radius: 5px;}

article, section {margin-left: 1em;}
#flash {
  padding: 1em ;
  font-weight: bold;
  margin: 0 0 1em 0;
  background-color: pink;
  color: crimson;
  border: 3px solid crimson;
}

#flash.notice {
  background-color: LightYellow;
  color: DarkKhaki;
  border: 3px solid DarkKhaki;
}

.aligner {display:inline-block; width: 90px}
.aligned {display:inline-block; margin-left: 90px}

a {color: darkblue;}
a:hover, :focus {box-shadow: 0px 0px 12px skyblue; border-radius: 5px;}
.edit {display:inline-block; width:32px; height:32px; background: url(/media/Icon-Edit.png)}

body:after {
    content : "";
    z-index: -1;
    background: url(/media/colors.png) no-repeat center center fixed;
    background-size: cover;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height:100%;
    opacity : 0.1;
}

/* Tablesorter */
table.tablesorter thead tr .header {
    background-image: url(/media/tablesortBg.gif);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
    padding-right: 1em;

}
table.tablesorter thead tr .headerSortUp {
    background-image: url(/media/tablesortAsc.gif);
}
table.tablesorter thead tr .headerSortDown {
    background-image: url(/media/tablesortDesc.gif);
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
    /*background-color: #e6EEEE;*/
    /*border: 1px solid #FFF;*/
    /*padding: 4px;*/
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
    background-color: #8dbdd8;
}
table.tablesorter th {color:black}
/* Tablesorter */
